{% extends "base_generic.html" %}

{% block content %}
  <h1>Catholic Child Sexual Abuse (CCSA) Analytics</h1>
  <h3>Diocese Statistics for Archdiocese of {{ archdiocese.name }}</h3>
  <p>Diocese counts for priests accused of child sexual abuse:</p>
  {% if archdiocese %}
	
    {% for diocese in archdiocese.diocese_list %}
		<h5><b>{{ diocese.name }}</b></h5>
		<p>Priest count: {{ diocese.total_priests }}
			<table id="diocese" class="sortable" style="width: 100%">
				<tr class="table-header">
					<th class="header__item">Last Name</th>
					<th class="header__item">First Name</th>
					<th class="header__item">Middle Name</th>
					<th class="header__item">Ordained</th>
				</tr>
		  
		{% for priest in diocese.priest_list %}
			<tr class="table-row">	
				<td class="table-data">{{ priest.last_name }}</td>
                <td class="table-data">{{ priest.first_name }}</td>
                <td class="table-data">{{ priest.middle_name }}</td>
                <td class="table-data">{{ priest.year_ordained }}</td>
             </tr>
		 {% endfor %}
		</table>
		</br>
		
	{% endfor %}

			
{% else %}
    <p>No archdiocese info is available.</p>
{% endif %}
{% endblock %}