{% extends "base_generic.html" %}

{% block content %}
  <h1>Catholic Child Sexual Abuse (CCSA) Analytics</h1>
  <h3>Diocese Statistics for Archdiocese of {{ archdiocese.name }}</h3>
  <p>Diocese counts for priests accused of child sexual abuse:</p>
  {% if archdiocese %}
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="diocese_name" class="filter__link" href="#">Diocese Name</a></div>
			<div class="header__item"><a id="city" class="filter__link filter__link--number" href="#">City</a></div>
			<div class="header__item"><a id="state" class="filter__link filter__link--number" href="#">State</a></div>
			<div class="header__item"><a id="diocese_count" class="filter__link filter__link--number" href="#">Diocese Count</a></div>
		</div>
		<div class="table-content">	
      
    {% for diocese in archdiocese.diocese_list %}
			<div class="table-row">		
				<div class="table-data">{{ diocese }}</a></div>
                <div class="table-data">{{ diocese.city }}</div>
                <div class="table-data">{{ diocese.state }}</div>
                <div class="table-data">{{ diocese.total_priests }}</div>
             </div>
    {% endfor %}
        </div>
    </div>
{% else %}
    <p>No archdiocese info is available.</p>
{% endif %}
{% endblock %}