{% extends "base_generic.html" %}

{% block content %}
  <h1>Catholic Child Sexual Abuse (CCSA) Analytics</h1>
  <h3>Diocese Statistics for Archdiocese of {{ archdiocese.name }}</h3>
  <p>Diocese counts for priests accused of child sexual abuse:</p>
  {% if archdiocese %}
	<table id="diocese" class="sortable" style="width: 100%">
		<tr class="table-header">
			<th class="header__item filter__link">Diocese Name</th>
			<th class="header__item filter__link">City</th>
			<th class="header__item filter__link">State</th>
			<th class="header__item filter__link">Count</th>
		</tr>	
    {% for diocese in archdiocese.diocese_list %}
			<tr class="table-row">		
				<td class="table-data"><a href="/priestlist/{{diocese.id}}/">{{ diocese }}</a></td>
                <td class="table-data">{{ diocese.city }}</td>
                <td class="table-data">{{ diocese.state }}</td>
                <td class="table-data">{{ diocese.total_priests }}</td>
             </tr>
    {% endfor %}
	    </table>
		<table>
		<tr class="table-header">
			<th class="header__item filter__link"></th>
			<th class="header__item filter__link"></th>
			<th class="header__item filter__link"></th>
			<th class="header__item filter__link"></th>
		</tr>
			<tr class="table-row">		
				<td class="table-data"></td>
                <td class="table-data"></td>
                <td class="table-data"><b>Total</b></td>
                <td class="table-data">{{ archdiocese.total_diocese_priests }}</td>
             </tr>
   
		</table>
{% else %}
    <p>No archdiocese info is available.</p>
{% endif %}
{% endblock %}