{% extends "base_generic.html" %}

{% block content %}
  <h1>Catholic Child Sexual Abuse (CCSA) Analytics</h1>
  <h3>Accused priest list for Archdiocese of {{ archdiocese.name }}</h3>
  {% if archdiocese %}
	<p>Priest count: {{ archdiocese.total_arch_priests }}
	<table id="diocese" class="sortable" style="width: 100%">
		<tr class="table-header">
			<th class="header__item">Last Name</th>
			<th class="header__item">First Name</th>
			<th class="header__item">Middle Name</th>
			<th class="header__item">Ordained</th>
		</tr>
      
    {% for priest in archdiocese.priest_list %}
			<tr class="table-row">	
				<td class="table-data">{{ priest.last_name }}</td>
                <td class="table-data">{{ priest.first_name }}</td>
                <td class="table-data">{{ priest.middle_name }}</td>
                <td class="table-data">{{ priest.year_ordained }}</td>
             </tr>
    {% endfor %}
   
    </table>
{% else %}
    <p>No priest info is available.</p>
{% endif %}
{% endblock %}