{% extends "base_generic.html" %}

{% block content %}
  <h1>Catholic Child Sexual Abuse (CCSA) Analytics</h1>
  <h3>Priest list for Diocese of {{ diocese.name }}</h3>
  {% if diocese %}
	<p>Priest count: {{ diocese.total_priests }}
 	<table id="diocese" class="sortable" style="width: 100%">
		<tr class="table-header">
			<th class="header__item filter__link">Last Name</th>
			<th class="header__item filter__link">First Name</th>
			<th class="header__item filter__link">Middle Name</th>
			<th class="header__item filter__link">Ordained</th>
		</tr>	<div class="table">
      
    {% for priest in diocese.priest_list %}
			<tr class="table-row">		
				<td class="table-data">{{ priest.last_name }}</td>
                <td class="table-data">{{ priest.first_name }}</td>
                <td class="table-data">{{ priest.middle_name }}</td>
                <td class="table-data">{{ priest.year_ordained }}</td>
             </tr>
    {% endfor %}
   
    </table>
{% else %}
    <p>No priest info is available.</p>
{% endif %}
{% endblock %}