{% extends "base_generic.html" %}

{% block content %}

{% load render_table from django_tables2 %}
  <h1>Catholic Child Sexual Abuse (CCSA) Analytics</h1>
  <p>Welcome to CCSA Analytics. This website provides data analytics on the Catholic priest child sexual abuse epidemic</p>
  <p>Data provided by Bishop Accountability. see <a href="http://www.bishop-accountability.org">Bishop Accountability</a></p>
  <h2>Overview Statistics</h2>
  
  {% if archdiocese_list %}
    <p>Archdiocese counts for priests accused of child sexual abuse:<br>
	<b>Total priests:</b> {{ total_priests }} <b>Diocesan Priests:</b> {{ total_dio_priests }} <b>Religious Order Priests:</b> {{ total_order_priests }}
	</p>
    <p>All columns are sortable</p>
 	<table id="diocese" class="sortable" style="width: 100%">
		<tr class="table-header">
			<th class="header__item filter__link">Archdiocese Name</th>
			<th class="header__item filter__link">States</th>
			<th class="header__item filter__link">Total Count</th>
			<th class="header__item filter__link">Archdiocese Count</th>
			<th class="header__item filter__link">Diocese Count</th>
		</tr>
      
    {% for archdiocese in archdiocese_list %}
			<tr class="table-row">		
				<td class="table-data"><a href="/dioceselist/{{ archdiocese.id }}/">{{ archdiocese }}</a></td>
                <td class="table-data">{{ archdiocese.state }}</td>
                <td class="table-data">{{ archdiocese.total_priests }}</td>
                <td class="table-data"><a href="/archpriestlist/{{ archdiocese.id }}/">{{ archdiocese.total_arch_priests }}</a></td>
                <td class="table-data"><a href="/alldiocesepriestlist/{{ archdiocese.id }}/">{{ archdiocese.total_diocese_priests }}</a></td>
             </tr>
    {% endfor %}
        
    </table>
{% else %}
    <p>No archdiocese info is available.</p>
{% endif %}
{% endblock %}