{% extends "base_generic.html" %}

{% block content %}
  <h1>Catholic Child Sexual Abuse (CCSA) Analytics</h1>
  <h3>Accused priest list for {{ order.order_name }}</h3>
  {% if order %}
	<p>Priest count: {{ order.total_priests }}
	<table id="orderpriest" class="sortable" style="width: 100%">
		<tr class="table-header">
			<th class="header__item filter__link">Last Name</th>
			<th class="header__item filter__link">First Name</th>
			<th class="header__item filter__link">Middle Name</th>
			<th class="header__item filter__link">Ordained</th>
		</tr>
      
    {% for priest in order.priest_list %}
			<tr class="table-row">		
				<td class="table-data">{{ priest.last_name }}</td>
                <td class="table-data">{{ priest.first_name }}</td>
                <td class="table-data">{{ priest.middle_name }}</td>
                <td class="table-data">{{ priest.year_ordained }}</td>
             </tr>			
    {% endfor %}
   
    </table>
{% else %}
    <p>No priest info is available.</p>
{% endif %}
{% endblock %}